<div>
<h2>Общая информация:</h2>
<p>Интернет-магазин "Редкий полосатый слон" предлагает широкий выбор планшетов на любой вкус. Будь ты мальцом или серьёзным взрослым дядей, мы поможем выбрать вам именно тот планшет которые нужен именно вам.</p>
<h2>Контакты:</h2>
<p>+375(33)123-45-67 МТС</p>
<p>+375(44)123-45-67 Velcom</p>
<p>redkii_polosatii_slon@mail.ru</p>
<h2>Разработчик:</h2>
<p>Саня Коврыга, 2013</p> 
</div>
